*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, Helvetica, sans-serif;
}

h1 {
  font-family: Abril Fatface, sans-serif;
  padding: 30px 0;
  text-align: center;
  font-size: clamp(35px, 5vw, 90px);
}

.content {
  padding: 0 20vw;
  font-size: 20px;
  text-align: justify;
}

.go-top-btn {
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  height: 100px;
  width: 100px;
  background: #fff;
  border: 3px solid #333;
  display: none;
  justify-content: center;
  align-items: center;
}

.go-top-btn img {
  width: 50px;
  height: 50px;
}